header {

    margin: 0;

}

body {

    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

form {

    display: inline-block;
    margin: 1em auto 1em auto;
    
}

ul {

    padding: 1em;
    list-style-type: none;

}

section h2 {

    padding-left: 0.7em;

}

#mapid { 
    
    height: 180px; 

}

.start-form {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}



.top {

    background-color: wheat;
    margin: 0;
    padding: 0;
    text-align: left;

}

h1 {

    margin-left: 0;
    padding-left: 1em;
    margin-top: 0;
    font-size: 1.5em;

}

.intro-text {

    margin-left: 2em;
    width: 100%;

}

.input-fields {

    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: left;

}

.small-fields {

    width: 15%;
    display: inline-block;
    margin-bottom: 1.5em;

}

.address {

    font-size: 12px;
    margin: 0;
    padding: 0;

}

.result-boxes {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.results {

    display: table;
    margin: 0 auto;

}

.result-boxes h2 {

    text-align: center;
    font-size: 1em;

}

.stats {

    width: 40%;

}

.hidden {

    display: none;

}

.place {

    display: flex;
    text-align: center;

}

.place-text {

    display: flex;
    flex-direction: column;
    float: right;
    align-items: center;
    font-size: 11px;

}

.place-photo {

    width: 100px;

}
