header {

    margin-top: 0;

}

body {

    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

form {

    display: inline-block;
    margin: 1em auto 1em auto;
    text-align: left;    
    
}

ul {

    padding: 1em;
    list-style-type: none;

}

section h2 {

    padding-left: 0.7em;

}

#mapid { 
    
    height: 180px; 

}

.top {

    background-color: wheat;
    margin: 1em;
    padding: 1em;
    text-align: center;

}

.input-fields {

    width: 20%;
    display: flex;
    flex-direction: column;

}
.small-fields {

    width: 15%;
    display: inline-block;
    margin-bottom: 1.5em;

}

.address {

    font-size: 12px;
    margin: 0;
    padding: 0;

}

.results {

    display: flex;
    flex-direction: column;
    text-align: left;

}

.results h2 {

    text-align: center;

}

.hidden {

    display: none;

}

.place {

    display: flex;
    text-align: center;

}

.place-image {

    float: left;

}

.place-text {

    display:flex;
    flex-direction: column;
    float: right;
    align-items: center;

}

.place-photo {

    width: 80%;

}
